.additional-goods__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__card-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.additional-goods__gift {
  background: url("../img/catalog/background.jpg") no-repeat;
  width: 280px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.additional-goods__gift-text {
  color: #ffffff;
  width: 161px;
  text-align: center;
}
