.contacts__cooperation {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 22px;
  margin-top: 28px;
  width: 139px;
  padding-bottom: 25px;
}

.contacts__address {
  width: 139px;
  font-family: "Lato", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.contacts__info {
  display: flex;
  margin: auto;
  background-color: #ffffff;
  align-items: center;
  width: 320px;
}

.contacts__info-catalog {
  background-color: #f2f2f2;
}

.contacts__map {
  width: 320px;
  height: 362px;
  background: url("../img/index/map.png") no-repeat center;
  background-size: cover;
  margin-left: -8px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/map@2x.png");
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 768px;
  }

  .contacts__info {
    width: 768px;
    height: 199px;
    justify-content: space-around;
  }

  .contacts__cooperation {
    font-size: 20px;
    line-height: 26px;
    margin-left: -83px;
    width: 160px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    margin-right: -89px;
    margin-top: -28px;
    position: relative;
  }

  .contacts__address span:first-child {
    margin-left: 66px;
  }

  .contacts__address span:last-child {
    position: absolute;
    top: 60px;
    left: 29px;
  }

  .contacts__map {
    width: 768px;
    height: 400px;
    background: url("../img/index/map-tablet.png") no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/map-tablet@2x.png");
      background-size: 768px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    width: 1440px;
  }

  .contacts__map {
    width: 1423px;
    height: 400px;
    background: url("../img/index/map-desktop.png") no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/map-desctop@2x.png");
      background-size: 100% auto;
    }
  }

  .contacts__cooperation {
    margin-left: 36px;
  }

  .contacts__address {
    margin-right: 32px;
  }

  .contacts__address span:first-child {
    margin-left: 0;
  }

  .contacts__address span:last-child {
    position: absolute;
    top: 58px;
    left: 2px;
  }
}
