.example {
  background-color: #eaeaea;
  width: 320px;
  margin: auto;
}

.example__title {
  padding-top: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.example__quantity {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.example__price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
