.example {
  background-color: #eaeaea;
  width: 100%;
  margin: auto;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  position: relative;
  width: 280px;
}

.example__title {
  padding-top: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__quantity {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7px;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__quantity-text {
  display: block;
  margin-top: 14px;
  margin-left: 2px;
}

.example__price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.example__quantity-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  position: absolute;
  width: 84px;
  background-color: #eaeaea;
  top: 47px;
  left: 20px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 0 28px;
  margin-bottom: 25px;
}

.example__data {
  position: relative;
  text-align: center;
}

.example__info {
  text-align: center;
  margin-bottom: 20px;
}

.example__image-cat-little {
  position: absolute;
  top: 363px;
  left: 140px;
  width: 140px;
  height: 256px;
  background-image: url("../img/index/cat-slider-little-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/cat-slider-little-mobile@2x.png");
    background-size: 140px auto;
  }
}

.example__image-cat-big {
  width: 140px;
  height: 256px;
  background-image: url("../img/index/cat-slider-big-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/cat-slider-big-mobile@2x.png");
    background-size: 140px auto;
  }
}

.example__slider-rectangle {
  position: absolute;
  width: 4px;
  height: 256px;
  top: 0;
  left: 18px;
  border-radius: 2px;
  background-color: #666666;
  z-index: -1;
}

.example__slider {
  height: 256px;
  width: 40px;
  top: 364px;
  left: 121px;
  position: absolute;
  z-index: 2;

  &:hover .svg-rect {
    fill: #68b738;
    cursor: pointer;
  }

  &:hover rect {
    stroke: #68b738;
    cursor: pointer;
  }

  &:hover path {
    fill: #68b738;
    cursor: pointer;
  }

  &:hover .example__slider-rectangle {
    background-color: #68b738;
  }

  &:active .svg-rect {
    fill: #68b738;
    cursor: pointer;
    opacity: 0.6;
  }

  &:active rect {
    stroke: #68b738;
    cursor: pointer;
    opacity: 0.6;
  }

  &:active path {
    fill: #68b738;
    cursor: pointer;
    opacity: 0.6;
  }

  &:active .example__slider-rectangle {
    background-color: #68b738;
    opacity: 0.6;
  }
}


@media (min-width: @tablet-width) {
  .example__title {
    padding-top: 0;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .example {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 580px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 500px;
      top: 575px;
      left: 0;
      background-color: #f2f2f2;
    }
  }

  .example__block {
    gap: 0 40px;
  }

  .example__wrapper {
    width: 708px;
  }

  .example__info {
    display: flex;
    flex-direction: row;
  }

  .example__image {
    width: 560px;
    height: 512px;
  }

  .example__description {
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .example__price {
    text-align: right;
    margin-left: 165px;
    margin-top: 6px;
    font-size: 20px;
    line-height: 30px;
    width: 174px;
  }

  .example__text {
    margin-bottom: 40px;
  }

  .example__quantity {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__quantity-description {
    font-size: 14px;
    line-height: 14px;
    width: 131px;
    top: 63px;
    left: 17px;
    background-color: #ffffff;
  }

  .example__image-cat-little {
    top: 425px;
    left: 355px;
    width: 280px;
    height: 512px;
    background-image: url("../img/index/cat-slider-little.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/cat-slider-little@2x.png");
      background-size: 280px auto;
    }
  }

  .example__image-cat-big {
    position: absolute;
    width: 280px;
    height: 512px;
    top: 425px;
    left: 75px;
    background-image: url("../img/index/cat-slider-big.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/cat-slider-big@2x.png");
      background-size: 280px auto;
    }
  }

  .example__slider-rectangle {
    height: 512px;
    width: 4px;
    left: 18px;
  }

  .example__slider-svg {
    position: absolute;
    top: 145px;
  }

  .example__slider {
    height: 512px;
    width: 40px;
    top: 425px;
    left: 335px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 100%;
    margin-bottom: -27px;

    &::before {
      top: 140px;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 146px;
    margin-top: 8px;
  }

  .example__wrapper {
    width: 1220px;
    flex-direction: row;
  }

  .example__info {
    flex-direction: column;
    width: 366px;
  }

  .example__image {
    width: 560px;
    height: 512px;
    margin-left: 175px;
    top: 9px;
    left: 485px;
  }

  .example__description {
    width: 432px;
    margin-bottom: 69px;
  }

  .example__quantity {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    height: 72px;
  }

  .example__quantity-description {
    font-size: 14px;
    top: 65px;
    left: 12px;
    width: 142px;
    background-color: #f2f2f2;
  }

  .example__price {
    font-size: 20px;
    line-height: 20px;
    width: 346px;
    margin-left: -19px;
    margin-top: 27px;
  }

  .example__price span {
    margin-left: 60px;
  }

  .example__image-cat-little {
    top: 10px;
    left: 765px;
  }

  .example__slider {
    height: 512px;
    width: 40px;
    top: 9px;
    left: 920px;
  }

  .example__slider-svg {
    top: 129px;
  }
}
