.how-it-works__list {
  margin: 0;
  padding: 0;
}

.how-it-works__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
}
