.program-selection {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 31px;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-selection__description {
  font-size: 14px;
  text-transform: uppercase;
  width: 226px;
  margin-bottom: 40px;
}

.program-selection__form-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.program-selection__form-group:nth-child(4) {
  margin-top: -6px;
}

.program-selection__program-type-title {
  display: block;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
}

.program-selection__user {
  margin: 0;
}

.program-selection__user:not(:last-child) {
  margin-bottom: 14px;
}

.program-selection__user-value {
  border: 1px solid #e7e7e7;
  padding: 0 20px;
  height: 43px;
}

.program-selection__user-value::placeholder {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-selection__user-label {
  text-transform: uppercase;
  color: #444444;
  margin-right: 9px;
}

.program-selection__form-group .program-selection__user:nth-child(1) .program-selection__user-value {
  width: 186px;
  height: 43px;
}

.program-selection__form-group .program-selection__user:nth-child(2) .program-selection__user-value {
  width: 165px;
  height: 43px;
}

.program-selection__form-group .program-selection__user:nth-child(3) .program-selection__user-value {
  width: 131px;
  height: 43px;
}

.program-selection__contact-title,
.program-selection__comment-title,
.program-selection__additionally-title {
  font-size: 24px;
  line-height: 24px;
}

.program-selection__contact-title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 98px;
    height: 2px;
    background-color: #68b738;
    right: -19px;
    top: 17px;
  }
}


.program-selection__contact {
  position: relative;
  margin-bottom: -5px;
}

.program-selection__contact-icon {
  position: absolute;
  top: 16px;
  right: 17px;
  stroke: #222222;
}

.program-selection__contact-label {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 6px;
}

.program-selection__contact-value {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  padding: 15px 15px;

  &:focus + .program-selection__contact-icon {
    stroke: #68b738;
  }
}

.program-selection__contact-email {
  margin-bottom: -3px;
}

.program-selection__contact-value-email {
  width: 188px;
  height: 15px;
}

.program-selection__contact-value-phone {
  width: 171px;
  height: 15px;
}

.program-selection__comment-title {
  margin: 0;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 37px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 156px;
    height: 2px;
    background-color: #68b738;
    right: -19px;
    top: 16px;
  }
}

.program-selection__comment-value {
  width: 249px;
  height: 130px;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid #e7e7e7;
  resize: none;
}

.program-selection__additionally-title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 0;
  margin-bottom: 41px;

  &::before {
    content: "";
    position: absolute;
    width: 134px;
    height: 2px;
    background-color: #68b738;
    right: -19px;
    top: 16px;
  }
}

.program-selection__additionally-name {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
}

.program-selection__request {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
  color: #ffffff;
  margin-bottom: 6px;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active span {
    opacity: 0.6;
  }
}

.program-selection__required-fields {
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.program-selection__user-value,
.program-selection__contact-value,
.program-selection__comment-value {
  &:hover {
    border: 1px solid #cdcdcd;
  }
}

.program-selection__program-type {
  display: block;
  margin: 0;
  margin-top: 25px;
}

.program-selection__program-type-label {
  position: relative;
}

.program-selection__program-type-value {
  position: absolute;
  top: -7px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.program-selection__program-type-label .program-selection__program-type-value[type="checkbox"]:checked + .program-selection__program-mark::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;
}

.program-selection__additionally {
  margin: 0;
  margin-top: 25px;
}

.program-selection__additionally-label {
  position: relative;
}

.program-selection__program-additionally-value {
  position: absolute;
  top: -4px;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
}

.program-selection__request-block {
  margin-top: 39px;
}

.program-selection__additionally-label .program-selection__additionally-value[type="checkbox"]:checked + .program-selection__program-mark::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  width: 18px;
  height: 14px;
  background-image: url("../img/form/icon.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/form/icon@2x.png");
  }
}

@media (min-width: @tablet-width) {
  .program-selection {
    width: 630px;
    margin: auto;
  }

  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 61px;
    margin-bottom: 55px;
  }

  .program-selection__description {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width: 323px;
    margin-bottom: 70px;
    font-weight: 400;
  }

  .program-selection__user-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 3px;
    margin-right: 6px;
  }

  .program-selection__form-group .program-selection__user:nth-child(1) .program-selection__user-value {
    width: 528px;
    height: 44px;
  }

  .program-selection__user:not(:last-child) {
    margin-bottom: 27px;
  }

  .program-selection__form-group .program-selection__user:nth-child(2) .program-selection__user-value {
    width: 500px;
    height: 43px;
  }

  .program-selection__form-group .program-selection__user:nth-child(3) .program-selection__user-value {
    width: 459px;
    height: 43px;
  }

  .program-selection__user-value::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__form-group {
    margin-bottom: 73px;
  }

  .program-selection__form-group-checkbox {
    border: 1px solid #e7e7e7;
    width: 602px;
    height: 154px;
    padding: 20px 0 20px 28px;
  }

  .program-selection__form .program-selection__form-group:nth-child(2) {
    margin-bottom: 38px;
  }

  .program-selection__form .program-selection__form-group:nth-child(3) {
    margin-top: 68px;
    margin-bottom: 69px;
  }

  .program-selection__program-type {
    margin: 0;
    margin-top: 9px;
  }

  .program-selection__program-type:not(:last-child) {
    margin-bottom: 23px;
  }

  .program-selection__additionally-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 59px;
  }

  .program-selection__contact-value-email {
    width: 506px;
    height: 25px;
  }

  .program-selection__contact-value-phone {
    width: 484px;
    height: 25px;
  }

  .program-selection__contact-value {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 13px 19px;
  }

  .program-selection__contact-phone {
    margin-top: 21px;
  }

  .program-selection__contact-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 79px;

    &::before {
      width: 145px;
      top: 23px;
      right: -65px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #68b738;
      left: -69px;
      top: 23px;
    }
  }

  .program-selection__contact-label {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-right: 18px;
  }

  .program-selection__comment-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    &::before {
      width: 478px;
      top: 22px;
      right: -6px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #68b738;
      left: -69px;
      top: 22px;
    }
  }

  .program-selection__form-group:nth-child(4) {
    margin-bottom: 59px;
  }

  .program-selection__comment-value {
    width: 593px;
    height: 154px;
    padding: 9px 19px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__additionally-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 36px;

    &::before {
      width: 450px;
      top: 22px;
      right: -73px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #68b738;
      left: -70px;
      top: 23px;
    }
  }

  .program-selection__additionally-name {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }

  .program-selection__request {
    font-size: 20px;
    line-height: 0px;
    width: 283px;
    height: 52px;
    margin-bottom: 72px;
  }

  .program-selection__required-fields {
    font-size: 16px;
    text-align: left;
    margin-left: 62px;
  }

  .program-selection__request-block {
    display: flex;
  }

  .program-selection__program-type-title {
    padding-left: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .program-selection__program-type-value {
    top: -6px;
    width: 38px;
    height: 38px;
  }

  .program-selection__program-type-label .program-selection__program-type-value[type="checkbox"]:checked + .program-selection__program-mark::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .program-selection__program-additionally-value {
    width: 38px;
    height: 38px;
    top: -10px;
  }

  .program-selection__additionally-label .program-selection__additionally-value[type="checkbox"]:checked + .program-selection__program-mark::before {
    top: 12px;
    left: 8px;
    width: 24px;
    height: 18px;
    background-size: cover;
    background-image: url("../img/form/icon-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/form/icon-tablet@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    width: 1220px;
  }

  .program-selection__additionally-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 79px;
  }

  .program-selection__title {
    margin-top: 71px;
  }

  .program-selection__form-group {
    width: 1220px;
  }

  .program-selection__form-block {
    display: flex;
    justify-content: space-between;
  }

  .program-selection__contact-title {
    margin-top: -2px;
    margin-bottom: 79px;

    &::before {
      width: 777px;
      top: 20px;
      right: -108px;
    }

    &::after {
      width: 70px;
      left: -110px;
      top: 21px;
    }
  }

  .program-selection__form-group:nth-child(4) {
    margin-bottom: 66px;
  }

  .program-selection__request {
    width: 568px;
    margin-bottom: 82px;
  }

  .program-selection__comment-title {
    &::before {
      width: 1107px;
      top: 20px;
      right: -110px;
    }

    &::after {
      width: 70px;
      left: -111px;
      top: 22px;
    }
  }

  .program-selection__additionally-title {
    margin-bottom: 39px;

    &::before {
      width: 1078px;
      top: 24px;
      right: -110px;
    }

    &::after {
      width: 71px;
      left: -111px;
      top: 22px;
    }
  }

  .program-selection__form-group .program-selection__user:nth-child(1) .program-selection__user-value {
    width: 464px;
    height: 45px;
  }

  .program-selection__form-group .program-selection__user:nth-child(2) .program-selection__user-value {
    width: 436px;
    height: 45px;
  }

  .program-selection__form-group .program-selection__user:nth-child(3) .program-selection__user-value {
    width: 395px;
    height: 45px;
  }

  .program-selection__form-group-checkbox {
    width: 540px;
  }

  .program-selection__form-group-user {
    width: 570px;
  }

  .program-selection__user:not(:last-child) {
    margin-bottom: 26px;
  }

  .program-selection__user-value {
    height: 50px;
  }

  .program-selection__contact {
    width: 570px;
  }

  .program-selection__contact-value-email {
    width: 444px;
  }

  .program-selection__contact-value-phone {
    width: 424px;
  }

  .program-selection__contact-phone,
  .program-selection__contact-email {
    margin-top: -4px;
  }

  .program-selection__contact-block {
    display: flex;
    justify-content: space-between;
  }

  .program-selection__comment-value {
    width: 1178px;
  }

  .program-selection__required-fields {
    margin-left: 84px;
  }
}
